#aboutme{
    background: var(--clr-background2);
    box-shadow: 0px -15px 15px -15px;
}
.about-me-div{
    background: var(--clr-background2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 2em;
}

.about-inner-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
}

.about-intro-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}
.about-intro-div p{
    font-size: large;
    letter-spacing: 1px;
    position: relative;
    margin-left: 1em;
}
.about-intro-div p::before{
    font-family: "FontAwesome";
    content: "\f10d";
    font-size: 30px;
    font-style: normal;
    color: #cecece;
    position: absolute;
    top: 0;
    left: -1.5em;
}

.about-connection{
    display: flex;
    margin-top: 1em;
    width: max-content;
    flex-wrap: wrap;
}
.about-connection a{
    margin: 1em 1em;
}
.about-inner-div img{
    border-radius: 50%;
    transition: box-shadow 200ms ease-in;
}

.about-inner-div img:hover{
    box-shadow: 0 30px 30px -30px #000;

}

@media (min-width: 900px){
    .about-me-div .section-heading{
        margin-left: 6rem !important;
    }
}

@media (max-width: 900px){
    .about-inner-div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }
    .about-intro-div{
        justify-content: center;
        width: 90%;
    }
    .about-connection{
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .about-me-div{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .about-me-div .section-heading{
        margin-left: 2rem !important;
    }
}
.about-connection>a>svg{
    transition: all 250ms ease-in;
}

.about-connection>a>svg:hover{
    transform: scale(1.3);
}

.focus-about{
    animation-name: focusAnimation;
    animation-iteration-count: 1;
    animation-duration: 1000ms;
    animation-delay: 500ms;
}

@keyframes focusAnimation{
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale((1.2));
    }
    100%{
        transform: scale(1);
    }
}

