*,*::before,*::after{
    box-sizing: border-box;
}

.card{
    color: var(--clr-accent-400);
    /* background-image: url('bgimg1.jpg') !important; */
    background-size: cover !important;
    padding: 3rem 0 0;
    max-width: 35ch;
    min-width: 30ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
    /* --clr-accent-400: hsl(342, 93%, 45%); */
}

.project__div:nth-child(2) .card{
    background-image: url('../images/roadmapCreator2.png');
}
.project__div:nth-child(3) .card{
    background-image: url('../images/collegeQuora.png');
}
.project__div:nth-child(4) .card{
    background-image: url('../images/fallBall.png');
    background-position-x: center;
}
.project__div:nth-child(5) .card{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/onlineMate2.jpg');
    background-color: #fcdb3d;
    background-position: center;
    background-size: contain !important;
    background-repeat: no-repeat;
    /* filter: brightness(90%); */
}
.project__div:nth-child(6) .card{
    background-image: url('../images/notesApp.png');
    background-position-x: center;
}


.card:hover, .card:focus-within{
    transform: scale(1.05);
}

.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.3) 20%,hsl(0 0% 0% / 100));
}

@media (hover){
    /* IF PRIMARY POINTING DEVICE CAN HOVER */
    .card-content{
        transform: translateY(70%);
        transition: transform 500ms ease;
    }
    .card:hover .card-content, .card:focus-within .card-content{
        transform: translateY(0);
        transition-delay: 500ms;
    }
    
    .card:focus-within .card-content{
        transition-duration: 0ms;
    }
    
    .card-content > *:not(.card-title){
        opacity: 0;
        transition: opacity 500ms linear ;
    }
    
    .card:hover .card-content > *:not(.card-title), 
    .card:focus-within .card-content > *:not(.card-title){
        opacity: 1;
        transition-delay: 1000ms;
    }
    
    .card:focus-within .card-content > *:not(.card-title){
        transition-delay: 300ms;
    }
    .card-title::after{
        transform: scaleX(0);
    }
}

.card-title{
    position: relative;
    width: max-content;
    /* outline: 1px solid red; */
}

.card-title::after{
    content: '';
    position: absolute;
    height: 3px;
    width: calc(100% + var(--padding));
    left: calc(-1 * var(--padding));
    bottom: 0;
    background-color: var(--clr-accent-400);
    transition: transform 500ms ease-in;
    transform-origin: left;
}

.card:hover .card-title::after, 
.card:focus-within .card-title::after{
    transform: scaleX(1);
}

.card-body{
    color: rgba(255, 255, 255, 0.9);
}

.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.button:hover, .button:focus{
    background-color: var(--clr-neutral-100);
}

@media(preferes-reduced-motion: reduce){
    *, *::before, *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}