.home-intro {
  box-shadow: 0px 15px 10px -15px;
  padding-bottom: 3em;
}

#intro-right,
#intro-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-right {
  padding-top: 7em;
}

#intro-left {
  flex-direction: column;
}

#intro-left h1 {
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 4em;
  margin-bottom: 0;
  text-shadow: 0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -0.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);
  animation: glitch 650ms infinite;
  position: relative;
}

#intro-left p {
  color: grey;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 1px;
}

#wave-emoji-img {
  margin-left: 0.5em;
  animation: wave-emoji-animation 500ms infinite alternate-reverse;
  animation-delay: 2s;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave-emoji-animation;
}

#resume-btn {
  padding: 0.5em 1em;
  border-radius: 9px;
  text-decoration: none;
  background-color: honeydew;
  font-weight: 500;
  font-size: 1.2em;
  transition: all 550ms ease !important;
}

#resume-btn:hover {
  color: black;
  background-color: yellow;
  transform: scale(1.1);
}

@keyframes wave-emoji-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 900px) {
  .home-intro {
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    padding-bottom: 2em;
    flex-direction: column;
  }
  #intro-right {
    padding-top: 2em;
  }
  #intro-left {
    padding-top: 5em;
  }
  #intro-left h1 {
    flex-wrap: wrap;
  }
}
