.project-div{
    box-shadow: 0px -10px 10px -15px;
}

.project__div{
    margin: 2em 0em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    gap: 1em;
}
.project__div > .card, .project__div > p{
    width: 50%;
}

@media (min-width: 600px){
    div[class="project__div"]:nth-of-type(2n){
        flex-direction: row-reverse;
    }
}
@media (max-width: 950px){
    #section-title-div{
        width: 90%;
    }
    .project__div{
        width: 95%;
        gap: 1em;
    }
    .project__div > .card, .project__div > p{
        min-width: 85% !important;
    }
}
@media (max-width: 600px){
    .project__div{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}

.fade-in-p{
    opacity: 0;
    transform: translateY(35px);
    transition: transform 450ms ease-in, opacity 250ms ease-in;
}

.appeared-p{
    opacity: 1 !important;
    transform: translateY(0) !important;
}