*, *::after, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.home-intro {
  padding: 50vh 0;
  background: #123 url(//unsplash.it/900);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

#skills{
  padding: 1em 0;
  max-width: 900px;
  margin: 0 auto;
}

.faded-text{
  color: rgb(163, 163, 163);
  font-weight: bold;
}

.project-div{
  background: #f4f4f4;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section-title-div{
  width: 50%;
}
#section-title-div h2{
  margin: 0 0;
  margin-bottom: 0.5em;
  text-align: left !important;
}
.section-heading{
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 4em;
}

.project__div{
  margin: 2em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
  gap: 2em;
}
