:root {
  --clr-foreground: #000;
  --clr-foreground: rgb(139, 138, 138);
  --clr-background: #f4f4f4;
  --clr-background2: #fff;
  --clr-background3: #c495fd;
  --clr-title: #fff;
}

.light-theme {
  --clr-foreground: #000;
  --clr-background: #fff;
  --clr-background2: #f4f4f4;
  --clr-title: #fff;
  /* --clr-background2: #fff; */
}

.dark-theme {
  --clr-background: #123;
  --clr-background2: rgba(30, 55, 80, 0.705);
  --clr-foreground: #fff;
  --clr-foreground2: rgb(139, 138, 138);
  --clr-title: #e55ef1;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: var(--clr-background) !important;
  color: var(--clr-foreground) !important;
}

h2 {
  margin-top: 0;
}

.home-intro {
  display: flex;
  background: #123;
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-foreground);
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#skills {
  padding: 1em 0;
  max-width: 900px;
  margin: 0 auto;
}

.faded-text {
  color: rgb(163, 163, 163);
  font-weight: bold;
}

.project-div {
  background: var(--clr-background2);
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section-title-div {
  width: 50%;
}
#section-title-div h2 {
  margin: 0 0;
  margin-bottom: 0.5em;
  text-align: left !important;
  filter: drop-shadow(4px 3px 8px var(--clr-title));
}
.section-heading {
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 4em;
}

@media (max-width: 650px) {
  .section-heading {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 3.5em;
  }
  #section-title-div {
    width: 100%;
  }
}
